body {
    margin: 0;
 
    z-index: 2;
    
}

*{
    text-decoration: none;
}

.logoa{
    width: 120px;
    position: absolute;
    left: 70px;
    margin-top: 40px;
    transform: translate(-50%, -50%);
   
}
.all{
    display:flex ;
}

h1{
    color: black;

    text-transform: uppercase ;
    margin-top: 10px;
    padding: 6px;
    font-size: 40px;
} 

#interior{
  margin-left: 280px;
 
    margin-top: -680px
}
.panneau {
 
    height: 88.5vh;
    width: 250px;
    min-width: 250px;
    margin-top: 90px;
   
    background: #ffffff;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
    display: block;
              

} 
header{
    z-index: 1;
}

.group {
    display: flex;
    line-height: 22px;
    align-items: center;
    position: relative;
    max-width: 160px;
    margin-left: 30px;
    padding-top: 40px;
  }
  
  

  .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
  }
  
  #lien{
    margin-top: 50px;
  }
  .lien{
   
    border-bottom: 2px solid #f3f3f4;
    border-top: 2px solid #f3f3f4;
    padding: 20px 0;

  } 

  .lien a{
    padding: 20px 0;
  color: #c62d2d;
    margin-left: 45px;
   

  }
  #lien .lien {
    margin-bottom: 5px;
}


/* Style de la section categorie */
form {
    max-width: 500px;
    padding: 30px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style du titre "Nouvelle Categories" */
 h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
   text-align:center;
}

/* Style du formulaire */
.categorie form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

/* Style des labels */
.categorie label {
    font-size: 16px;
    color: #555;
}

/* Style des champs de texte */
.categorie input[type="text"],
.categorie textarea,
.categorie input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Style du bouton Ajouter */
.categorie input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Effet de survol sur le bouton Ajouter */
.categorie input[type="submit"]:hover {
    background-color: #c62d2d;
}
