
.cardCategorie{ 
    margin-top: 30px;

    width: 380px;
    text-align: center;
    border: 2px solid #c62d2d;
    border-radius: 20px;

  }

  .imgcard{
   
    width: 380px;
    height: 310px;
    border-radius: 18px 18px 0px 0;

  } 

  .cardCategorie p{ 
    padding: 20px;
  } 

  #card-container{
    display: flex;
    position: absolute;
    left: 50%;
    margin-top: 300px;
    transform: translate(-50%, -50%);
    gap: 40px;
  } 

  .titreAcc {
    text-align: center;
    font-family:'Poppins', sans-serif ;
  } 


  

  @media only screen and (max-width: 810px) {
    #card-container {
      flex-direction: column;
      align-items: center;
      margin-top: 600px;
    }
  }